footer {
  /* border-top: 5px; */
  position: absolute;
  top: 2900px;
  bottom: 0;
  font-size: 1.2rem;
  left: 40px;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.tmdb{
  position: absolute;
  right: 100px;
  top: 20px;
  
}